<!DOCTYPE html>
<html lang="kr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content" class="board-list">
    <script th:inline="javascript">
        let column = [
            {name: 'id', text: '#', size: '30px'},
            {name: 'loginId', text: '아이디', size: '100px'},
            {name: 'userName', text: '성명', size: '80px'},
            {name: 'mbtlNo', text: '휴대폰번호', size: '120px'}
        ];
        const path = window.location.pathname;
    </script>
    <div class="container">
        <div class="row">
            <form id="user-detail"></form>
        </div>
        <div class="row">
            <div class="col text-lg-end">
                <a class="btn btn-outline-dark" type="button" id="addButton">등록</a>
            </div>
        </div>
        <form id="searchMember" th:method="GET">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-9">
                            <input class="form-control" type="text" id="keyword" name="keyword"
                                   placeholder="성명 또는 휴대폰번호 입력">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-dark" type="submit" id="searchMemberButton"
                                    name="searchMemberButton">검색
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <div class="row" id="navbarNavDropdown">
                <input type="hidden" id="userDiv" name="userDiv" value="01">
                <div class="col"></div>
                <div class="col-4 text-lg-end">
                    <input class="form-control" type="number" id="selectProId" name="selectProId" value="0" hidden/>
                    <select class="form-select" th:field="${proSelectList}" id="proSelectList">
                        <option value="0" label="선택" selected></option>
                        <option th:each="pro : ${proSelectList}" th:value="${pro.key}" th:text="${pro.value}"></option>
                    </select>
                </div>
                <!-- TODO 이용권상태, 레슨권상태, 회원상태는 고도화 시 -->
                <!--            <span>
                                &lt;!&ndash; TODO 이용권상태 LIST &ndash;&gt;
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            이용권상태
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">보유</a></li>
                                            <li><a class="dropdown-item" href="#">미보유</a></li>
                                            <li><a class="dropdown-item" href="#">잔여7일</a></li>
                                            <li><a class="dropdown-item" href="#">잔여14일</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                            <span>
                                &lt;!&ndash; TODO 레슨권상태 LIST &ndash;&gt;
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            레슨권상태
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">보유</a></li>
                                            <li><a class="dropdown-item" href="#">미보유</a></li>
                                            <li><a class="dropdown-item" href="#">잔여7일</a></li>
                                            <li><a class="dropdown-item" href="#">잔여14일</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                            <span>
                                &lt;!&ndash; TODO 회원상태 LIST &ndash;&gt;
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            회원상태
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">등록회원</a></li>
                                            <li><a class="dropdown-item" href="#">이용회원</a></li>
                                            <li><a class="dropdown-item" href="#">만료회원</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>-->
            </div>
        </form>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div th:replace="fragments/components/backoffice/common/commonTable :: common-table"></div>
            </div>
        </div>
    </div>
    <script type="module" th:inline="javascript">
        import dataRequester from "/js/common/dataRequester.js";

        let addButton = document.getElementById('addButton');

        addButton.addEventListener('click', function () {
            location.href = path + '/add';
        });

        // 프로 선택 시 내용 변경
        let proSelectList = document.getElementById('proSelectList');
        let selectProId = document.getElementById('selectProId');
        proSelectList.addEventListener('change', function (event) {
            selectProId.value = this.value;
            event.preventDefault(); // 폼의 기본 제출 동작을 막습니다.
            drawTableWithParamMap(); // drawTable 함수를 호출합니다.
        });

        // 테이블
        const name = 'name';
        const saveButton = 'saveButton';
        const searchMemberButton = 'searchMemberButton';
        const apiUrl = '/api/com' + path; // get에서 호출 할 API URL을 지정합니다.

        let paramMap = new Map(); // 화면에 적용된 파라메터를 저장할 Map 객체를 생성합니다.

        // 파라메터 맵을 생성하는 함수입니다.
        function createParamMap() {
            let params = new URLSearchParams(window.location.search);

            let name = document.getElementById('keyword').value;
            let proId = document.getElementById('selectProId').value;
            let page = params.get('page');
            let size = params.get('size');

            paramMap.set('keyword', name);
            paramMap.set('selectProId', proId);
            paramMap.set('page', page);
            paramMap.set('size', size);
        }

        // 테이블을 그리는 함수입니다.
        function drawTableWithParamMap() {
            createParamMap();
            table.drawTable(apiUrl, paramMap, column);
        }

        // 페이지 로드 시 drawTable 함수를 호출합니다.
        drawTableWithParamMap();

        // 검색 폼의 제출 이벤트를 처리합니다.
        document.getElementById('searchMember').addEventListener('submit', function (event) {
            event.preventDefault(); // 폼의 기본 제출 동작을 막습니다.
            drawTableWithParamMap(); // drawTable 함수를 호출합니다.
        });
    </script>
</main>
</body>
</html>